.page {
    background: url("./../../../public/Men-s-Shell-Jackets-Arc-teryx.png")
        no-repeat top center;
    width: 100%;
    height: 8300px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-size: 100%;

    .Link {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
